{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.funfacts.funfacts.enable }}
{{ with $data.funfacts.funfacts }}
{{"<!-- Start Counter Section -->" | safeHTML}}
{{ $bg := resources.Get .bg_image }}
<section id="counter" class="parallax-section bg-1 section" style='background-image: url("{{ if $bg }}{{ $bg.RelPermalink }}{{ else }}{{ .bg_image | absURL }}{{ end }}")'>
	<div class="container">
		<div class="row justify-content-center">
			{{ range .counter_item }}
			<div class="col-lg-4 col-md-6 col-12 text-center wow fadeInDown" data-wow-duration="500ms">
				<div class="counters-item" style="border-top: 5px solid {{ .color }}; border-bottom: 5px solid {{ .color }};">
					<h3 style="color: {{ .color }}">{{ .title | markdownify }}</h3>
					<span class="count" data-count="{{ .count }}">0</span>
					<h3 style="color: {{ .color }}">{{ .subtitle | markdownify }}</h3>
				</div>
			</div>
			{{ end }}
		</div>
	</div>
</section>
{{"<!-- /Counter Section -->" | safeHTML}}
{{ end }}
{{ end }}