{{ $data := index .Site.Data .Site.Language.Lang }}

{{ if $data.testimonial.testimonial.enable }}
{{ with $data.testimonial.testimonial }}
{{"<!-- Start Testimonial -->" | safeHTML}}
{{ $bg := resources.Get .bg_image }}
<section id="testimonial" class="testimonial section bg-2"
	style='background-image: url("{{ if $bg }}{{ $bg.RelPermalink }}{{ else }}{{ .bg_image | absURL }}{{ end }}")'>
	<div class="container">
		<div class="row">
			<div class="col-xl-12">
				{{"<!-- testimonial wrapper -->" | safeHTML}}
				<div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">
					{{ range .testimonial_item }}
					{{"<!-- testimonial single -->" | safeHTML}}
					<div class="item text-center">

						{{"<!-- client photo -->" | safeHTML}}
						<div class="client-thumb">
							{{ partial "image-responsive.html" (dict "src" .image "alt" .name "class" "img-fluid") }}
						</div>

						{{"<!-- client info -->" | safeHTML}}
						<div class="client-info">
							<div class="client-meta">
								<h2>{{ .name }}</h2>
								<h4>{{ .title}}</h4>
							</div>
							<div class="client-comment">
								<p class="font-italic font-weight-bold">{{ .content | markdownify }}</p>
							</div>
						</div>
					</div>
					{{"<!-- /testimonial single -->" | safeHTML}}
					{{ end }}
				</div>
			</div>
		</div>
	</div>
</section>
{{"<!-- /testimonial -->" | safeHTML}}
{{ end }}
{{ end }}